{% extends "common/dark_base.html" %}

{% block content %}
<div class="row">
  <h1>Breakdown of Nessus Vulnerabilities</h1>
</div>

<table id="myTable" class="table table-striped" style="width:100%" >
         <thead>
           <tr>
            <th>CVE</th>
	    <th>CVSS</th>
	    <th>Risk</th>
	    <th>Host</th>
	    <th>Synopsis</th>
	    <th>Scan</th>
          </tr>
        </thead>
</table>
<!--https://stackoverflow.com/questions/48699039/simple-datatables-flask-->
<script>
$(document).ready(function() {
    $('#myTable').DataTable( {
        "processing": true,
	"ajax": {
	    "url":"/nessus-breakdown-data",
	    "dataSrc":""
	},
        // add column definitions to map your json to the table
        "columns": [
            {data: "CVE"},
	    {data: "CVSS"},
	    {data: "Risk"},
	    {data: "Host"},
	    {data: "Synopsis"},
	    {data: "Scan"}
        ]
    } );
});
</script>

{% endblock %}

df = df[['CVE','CVSS','Risk','Host','Synopsis','Scan']]
