{% extends "common/dark_base.html" %}

{% block content %}
<div class="row">
  <h1>Nessus Vulnerabilities</h1>
</div>
<div class="row">
Vulnerabilities found here are listed by Nessus Plugin. Patching a single plugin's output may reduce several open CVEs.
Default priority is CVSS>7, older than 30 days, Critical or High.
</div>
<!--    df = df[['Plugin ID','CVSS','Risk','Host','Synopsis','Solution','Scan']] -->

<table id="myTable" class="table table-striped" style="width:100%" >
         <thead>
           <tr> 
	    <th>Plugin ID</th>
	    <th>CVSS</th>
	    <th>Risk</th>
	    <th>Host</th>
	    <th>Synopsis</th>
	    <th>Solution</th>
	    <th>Scan</th>
	    <th>Plugin Published</th>
          </tr>
        </thead>
</table>
<!--https://stackoverflow.com/questions/48699039/simple-datatables-flask-->
<script>
$(document).ready(function() {
    $('#myTable').DataTable( {
        "processing": true,
	"ajax": {
	    "url":"/nessus-breakdown-plugin-data"+ "?" +(new URL(window.location.href).searchParams.toString()),
	    "dataSrc":""
	},
	dom: 'Bfrtip',
	buttons: [
            'excel',
            'pdf'
        ],
        // add column definitions to map your json to the table
        "columns": [
            {data: "Plugin ID"},
	    {data: "CVSS"},
	    {data: "Risk"},
	    {data: "Host"},
	    {data: "Synopsis"},
	    {data: "Solution"},
	    {data: "Scan"},
	    {data: "Plugin Publication Date"}
        ]
    } );
});
</script>

{% endblock %}

df = df[['CVE','CVSS','Risk','Host','Synopsis','Scan']]
