{% extends "common/dark_base.html" %}

{% block content %}
<div class="row">
  <h1>Nessus Vulnerabilities Executive Dashboard</h1>
</div>
<div class="col-12">
  <div id="charts" class="container mt-3 text-center">
      <div class="row">
	 <div class="col-3">
	  <div class="card text-white mb-3" style="max-width: 18rem;font-size: 200%;background-color:red; ">
            <div class="card-header" style="background-color:red;">397</div>
 	    <h5 class="card-title">Critical</h5>
  	   </div> 
	 </div>
	 <div class="col-3">
          <div class="card text-white mb-3" style="max-width: 18rem;font-size: 200%;background-color:orange;">
            <div class="card-header" style="background-color:orange;">661</div>
            <h5 class="card-title">High</h5>
           </div>
         </div>
	 <div class="col-3">
          <div class="card text-white mb-3" style="max-width: 18rem;font-size: 200%;background-color:yellow;color:black;">
            <div class="card-header" style="background-color:yellow;color:black;">3290</div>
            <h5 class="card-title" style="color:black">Medium</h5>
           </div>
         </div>
	 <div class="col-3">
          <div class="card text-white mb-3" style="max-width: 18rem;font-size: 200%;background-color:green;">
            <div class="card-header" style="background-color:green;">247</div>
            <h5 class="card-title">Low</h5>
           </div>
         </div>
      </div>
      <div class="row">
          <div class="col-6">
              <div id="{{ids[1]}}"></div>
          </div>
          <div class="col-6">
              <div id="{{ids[0]}}"></div>
          </div>
      </div>
  </div>
</div>

{% endblock %}


{% block footer%}
<script type="text/javascript">
    var figures = {{figuresJSON | safe}};
    var ids = {{ids | safe}};
    for(var i in figures){
        Plotly.plot(ids[i],
        figures[i].data,
        figures[i].layout || {});
    }
  </script>
{% endblock %}
